<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoTalla">
            <h2><span jhiTranslate="fleastoreApp.tipoTalla.detail.title">Tipo Talla</span> {{ tipoTalla.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fleastoreApp.tipoTalla.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ tipoTalla.nombre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-talla', tipoTalla.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
