<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movimiento">
            <h2><span jhiTranslate="fleastoreApp.movimiento.detail.title">Movimiento</span> {{ movimiento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fleastoreApp.movimiento.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'fleastoreApp.TipoMovimiento.' + movimiento.tipo }}">{{ movimiento.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="fleastoreApp.movimiento.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ movimiento.fecha }}</span>
                </dd>
                <dt><span jhiTranslate="fleastoreApp.movimiento.sucursal">Sucursal</span></dt>
                <dd>
                    <span>{{ movimiento.sucursal }}</span>
                </dd>
                <dt><span jhiTranslate="fleastoreApp.movimiento.motivo">Motivo</span></dt>
                <dd>
                    <span>{{ movimiento.motivo }}</span>
                </dd>
                <dt><span jhiTranslate="fleastoreApp.movimiento.observacion">Observacion</span></dt>
                <dd>
                    <span>{{ movimiento.observacion }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movimiento', movimiento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
